* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Cocogoose";
    src: url(../Fonts/Cocogoose.ttf);
}

body{
    background: rgb(52,166,189);
    background: linear-gradient(90deg, rgba(52,166,189,1) 0%, rgba(29,48,57,1) 100%);
    color: white;
    font-family: "Cocogoose";
    margin: 0;
    max-width: auto;
    max-height: auto;
}

a {
    color: white;
    list-style: none;
    user-select: none;
    text-decoration: none;
}

a:hover{
    color: rgba(39, 166, 240, 0.705);
    transition: 0.4s;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #titulo{
    padding-left: 30px;
    padding-top: 40px;
}

header .menu{
    display: inline-flex;
    margin: 10px;
    font-size: 20px;
    padding-top: 40px;
    list-style: none;
    text-decoration: none;
}

main{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    font-family: "Cocogoose";
}

main #form {
    align-self: center;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

main .form-input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
}

main .form-label {
    font-size: 1rem;
    color: grey;
    display: block;
    transform: translate(1.25rem,-2.5rem);
    transform-origin: 0 0; 
    transition: all 500ms;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    pointer-events: none; 
}

main #botao {
    margin-top: 20px;
    margin-left: 19%;
    background-color: #405cf5;
    border-radius: 8px;
    border: solid;
    color: #fff;
    cursor: pointer;
    font-family: "Cocogoose";
    font-size: 100%;
    height: 50px;
    text-align: center;
    width: 300px;
}

main #botao:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

footer {
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    position: absolute;
}

footer #social {
    text-align: center;
    padding-bottom: auto;
    padding-top: auto;
    background: rgb(49,115,204);
    background: linear-gradient(90deg, rgba(49,115,204,1) 25%, rgba(29,46,190,1) 100%);
    font-size: 50px;
}

footer #lista-footer {
    text-align: center;
    background: rgb(49,115,204);
    background: linear-gradient(90deg, rgba(49,115,204,1) 25%, rgba(29,46,190,1) 100%);
}

footer .item {
    padding: 15px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

footer .icone {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 3px solid rgba(39, 166, 240, 0.705);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

footer .icone:hover {
    transition: 0.5s;
    width: 85px;
    height: 85px;
}

footer #copyright {
    text-align: center;
    background: rgb(49,115,204);
    background: linear-gradient(90deg, rgba(49,115,204,1) 25%, rgba(29,46,190,1) 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}