* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Cocogoose";
    src: url(../Fonts/Cocogoose.ttf);
}

a {
    color: white;
    list-style: none;
    user-select: none;
    text-decoration: none;
}

a:hover{
    color: rgba(39, 166, 240, 0.705);
    transition: 0.4s;
}

body{
    background: rgb(52,166,189);
    background: linear-gradient(90deg, rgba(52,166,189,1) 0%, rgba(29,48,57,1) 100%);
    color: white;
    font-family: "Cocogoose";
    margin: 0;
    max-width: auto;
    max-height: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    padding-left: 30px;
    padding-top: 40px;
}

.menu{
    display: inline-flex;
    margin: 10px;
    font-size: 20px;
    padding-top: 40px;
    list-style: none;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.login {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgb(84,166,159);
    background: linear-gradient(90deg, rgba(84,166,159,1) 16%, rgba(75,128,150,1) 100%);
    border-radius: 30px;
    height: 440px;
    width: 500px;
    color: black;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(54, 93, 50, 0.2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 125, 211, 0.3) 0 0 0 4px;
}

.login a {
    color: black;
}

.login form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    color: black;
}

.login input {
    margin: 10px;
    line-height: 30px;
    padding: 5px 15px;
    background-color: #eee;
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.login button {
    background: rgb(64,125,120);
    background: linear-gradient(90deg, rgba(64,125,120,1) 16%, rgba(55,95,112,1) 100%);
    color: black;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 10px;
    margin-top: 15px;
    width: 50%;
    cursor: pointer;
}

footer{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    position: absolute;
}

#lista-footer {
    text-align: center;
    background: rgb(48,79,199);
    background: linear-gradient(90deg, rgba(48,79,199,1) 0%, rgba(24,27,73,1) 100%);
}

.item {
    padding: 15px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

#social {
    text-align: center;
    padding-bottom: auto;
    padding-top: auto;
    background: rgb(48,79,199);
    background: linear-gradient(90deg, rgba(48,79,199,1) 0%, rgba(24,27,73,1) 100%);
    font-size: 50px;
}

.icone {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 3px solid rgba(39, 166, 240, 0.705);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.imagem-icone:hover {
    transition: 0.3s;
    width: 55px;
    height: 55px;
}

.copyright {
    text-align: center;
    background: rgb(48,79,199);
    background: linear-gradient(90deg, rgba(48,79,199,1) 0%, rgba(24,27,73,1) 100%);
    padding-top: 15px;
    padding-bottom: 15px;
}